:root {
    font-size: 20px;
}
html * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    .overview, .overview--block{
        padding-left: calc(100vw - 100%); 
    }
}
img, input {
    display: block;
}
input {
    min-width: 0;
}
.hide-scrollbar {
    overflow-y:hidden;
}
