@use 'colors';

.btn-reload {
    font-size: 1rem;
    position: absolute;
    top: 1em;
    right: 3.5em;
    width: 2em;
    transition: transform 1s ease-in-out;
}
.btn-reload:hover {
    transform: rotateZ(360deg);
}

.btn-left {
    width: 2em;

    position: absolute;
    top:50%;
    left: 1em;
    transform: translateY(-50%);
}
.btn-right {
    width: 2em;

    position: absolute;
    top:50%;
    right: 1em;
    transform: translateY(-50%);
}

.overview {
    * {
    animation: overviewIntro 1s ease-in-out;
    }
    color: colors.$text-light;
    text-shadow: colors.$text-shadow;
    font-size: 1.5em;
    background-color: colors.$overview-light;
    text-align: center;
    padding: 3em 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.overview--icon {
    max-width: 10em;
}

.overview--info {
    display: flex;
    gap: 1em
}

.info-block {
    flex: 1;
    // max-width: calc(100%/3)
}

@keyframes overviewIntro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}